# URL base per connectar amb el backend (Laravel)
VITE_API_BASE_URL=http://localhost:8000/api

# URL del Webhook de n8n per al Chatbot
VITE_N8N_CHAT_URL=http://localhost:5678/webhook/3c6a9281-f792-4ed9-862f-6930d92af099/chat

# Altres configuracions
VITE_APP_NAME="D&N Motors"